<span class="preheader">Arranke - Recuperação de Senha</span>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
	<tr>
		<td>&nbsp;</td>
		<td class="container">
			<div class="content">

				<!-- START CENTERED WHITE CONTAINER -->
				<table role="presentation" class="main">

					<!-- START MAIN CONTENT AREA -->
					<tr>
						<td class="wrapper">
							<table role="presentation" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td>
										<h2>Arranke - Recuperação de Senha</h2>
										<p>
											Foi solicitado um código para a recuperação da sua conta do Arranke.
										</p>
										<p>
											Utilize esse código para definir uma nova senha:
											<strong>{{code}}</strong>
										</p>
										<p>Caso você não tenha solicitado, ignore esse e-mail.</p>
									</td>
								</tr>
								<tr>
									<td>
										<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
											<tbody>
												<tr>
													<td align="left">
														<table role="presentation" border="0" cellpadding="0" cellspacing="0">
															<tbody>
																<tr>
																	<td><a href="{{{link}}}" target="_blank">Redefinir Senha</a></td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>

				<!-- END MAIN CONTENT AREA -->
				</table>
				<!-- END CENTERED WHITE CONTAINER -->

				<!-- START FOOTER -->
				<div class="footer">
					<table role="presentation" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td class="content-block powered-by">
								Powered by <a href="http://htmlemail.io">HTMLemail</a>.
							</td>
						</tr>
					</table>
				</div>
				<!-- END FOOTER -->

			</div>
		</td>
		<td>&nbsp;</td>
	</tr>
</table>